<body>
  <nav class="navbar navbar-expand-lg " style=" background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);">
  <a class="navbar-brand" href="#">
      <img src="assets/HH2.jpg" width="60" height="40" class="d-inline-block align-top" alt="">
    HelpingHands
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=" #navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="orphanage-enrollment">OrphanageEnrollment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="event-enrollment">EventEnrollment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="donation">Donation</a>
      </li>
    </ul>
   
  </div>
</nav>


</body>